* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.container {
    max-width: 400px; 
    margin: 0 auto; 
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.top-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.icon-image {
    width: 24px; 
    height: 24px;
    margin-left: 15px;
    cursor: pointer;
    vertical-align: middle;
}

.search-bar-container {
    padding: 10px 0 20px 0;
}

.search-input {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 0;
    font-size: 16px;
}

.product-list {
    display: flex;
    flex-direction: column;
}

.product-card {
    display: flex;
    padding: 15px 0;
    border-top: 1px solid #eee;
    align-items: center; 
}

.product-list .product-card:first-child {
    border-top: none;
}

.product-image-container {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image {
    max-width: 100%;
    height: auto;
    display: block; 
}

.product-info {
    width: 65%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}


.product-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.product-price {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.add-to-cart-btn {
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s;
    align-self: flex-end;
    border-radius: 0;
}

.add-to-cart-btn:hover {
    background-color: #f0f0f0;
}



@media (min-width: 768px) {
    
    .container {
        max-width: 900px; 
        padding: 20px;
    }
    
    .icon-image {
        width: 30px; 
        height: 30px;
    }

    .search-input {
        padding: 12px 15px;
        font-size: 18px;
    }

    
    .product-card {
        padding: 25px 0;
    }

    
    .product-image-container {
        width: 25%;
    }

    .product-info {
        width: 75%;
        padding-left: 30px; 
    }
    
    
    .product-name {
        font-size: 24px;
        white-space: normal; 
        overflow: visible;
        text-overflow: clip;
    }

    .product-price {
        font-size: 28px;
    }

    .add-to-cart-btn {
        padding: 12px 25px;
        font-size: 16px;
    }
}
